.corpo-container{
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 70px);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.imagem-corpo{
    width: 500px;
    border-radius: 999px;
}